<html>
    <head>
        <title><%=title%></title>
        <% if(containsCode) { %>
        <link href="<%- asset("@highlight.js/styles/atom-one-light.css") %>" rel="stylesheet">
        <% } %>
    </head>
    <body>
        <h1><%=title%></h1>
        <span style="color: grey;"><%=creationDate.toLocaleDateString("de-DE")%></span>

        <%-contentHtml%>

        <footer>
            <%for(let tag of tags) {%>
                <span style="background-color: <%=tag.color%>; color:#FFF"><%=tag.title%></span>
            <% } %>
        </footer>
    </body>
</html>